# EditorConfig - Cross Editor/IDE Settings (https://editorconfig.org)
# vim:ft=ini ft=dosini
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Markdown
[*.{md,markdown,mdown}]
indent_style = space
indent_size = 4
trim_trailing_whitespace = false

# YAML
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON
[*.json]
indent_style = space
indent_size = 2

# Terraform
[*.{tf,tfvars}]
indent_style = space
indent_size = 2

# JavaScript, TypeScript
[*.{js,jsx,ts,tsx,vue}]
indent_style = space
indent_size = 2

